@use '_variables' as *;
@use '_mixins' as *;

.progress {
    @include progressbar($small: true);
  
    width: auto;
    max-width: 100%;
}

button {
    @include peertube-button-link;
    @include orange-button;
}

#gbHistory {
    width: 100%;
    height: 100vh;
    overflow-x: auto;

    table {
        min-width: 500px;
        width: 100%;

        tr {
            height: 32px;
        }
    }
}